# Backend Server Port
PORT=5000

# Database URL / Connection String
DATABASE_URL=mongodb+srv://technova:technova2026@cluster0.mongodb.net/technova?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://technova:technova2026@cluster0.mongodb.net/technova?retryWrites=true&w=majority
